<%- include('../includes/dashboard') %>

<% const cartButton = (id, action) => { %>
  <form class="cart-button" action="/cart/<%= id + '/' + action %>" method="post">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <button>
      <i class="fa-solid fa-<%= action === 'add' ? 'plus' : 'minus' %>"></i>
    </button>
  </form>
<% } %>

<div class="cart">
  <h1>Your Cart</h1>
  <ul class="cart-items floating-box no-scrollbar-y">
    <% if (items.length === 0) { %>
      <li class="cart-empty">Your Cart is Empty</li>
    <% } else { %>
      <% items.forEach(({ _id, name, imgURL, price, quantity, userId: seller }) => { %>
        <li class="floating-box">
          <a class="item-img" href="/store/<%= _id %>">
            <img src="/<%= imgURL %>" alt="<%= name %>" />
          </a>
          <div class="item-info">
            <h2 class="truncate"><%= name %></h2>
            <h2 class="truncate"><%= seller.name %></h2>
            <div class="cart-buttons">
              <%= cartButton(_id, 'remove') %>
              <p><%= quantity %></p>
              <%= cartButton(_id, 'add') %>
            </div>
            <p class="truncate">$<%= (quantity * price).toFixed(2) %></p>
          </div>
        </li>
      <% }); %>
    <% } %>
  </ul>
  <p class="cart-total">
   Total: $
   <%=
     items.reduce(
       (total, { price, quantity }) => total + price * quantity, 0
     ).toFixed(2)
    %>
  </p>
  <% if (items.length > 0) { %>
    <form action="/checkout" method="post" class="checkout-button">
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <button>Proceed to Checkout</button>
    </form>
  <% } %>
</div>
