<% if (isAdmin) { %>
  <%- include('../includes/dashboard') %>
  <%- include('../user/details') %>
<% } %>

<section class="store">
  <% if (!isAdmin) { %>
    <h1>Store</h1>
  <% } %>

  <% if (items.length === 0) { %>
    <h2>Whoops, looks like there is nothing here</h2>
  <% } else { %>
    <ul class="list">
      <% items.forEach(({ _id, name, desc, imgURL, price, userId }) => { %>
        <li id="<%= _id %>" class="floating-box">
          <input type="hidden" name="_csrf" value="<%= csrf %>" />
          <input type="hidden" name="itemId" value="<%= _id %>" />

          <a href="/store/<%= _id %>">
            <img src="/<%= imgURL %>" alt="<%= name %>" />
            <% if (!isAdmin) { %>
              <p class="sold-by">Sold by:
                <strong><%= userId.name %></strong>
              </p>
            <% } %>
          </a>

          <p class="name-and-price">
            <strong class="truncate"><%= name %></strong>
            <span>$<%= price.toFixed(2) %></span>
          </p>

          <% if (!isAdmin) { %>
            <p class="truncate description"><%= desc %></p>
          <% } else { %>
            <div class="admin-controls">
              <a href="/admin/form/<%= _id %>">EDIT</a>
              <button onclick="confirmDeletion('<%= csrf %>', '<%= _id %>')">DELETE</button>
            </div>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>
</section>

<% if (pagination.docCount > pagination.docsPerPage) { %>
  <%- include('../includes/pagination') %>
<% } %>

<!-- modal script already loaded in includes/dashboard.ejs -->
<!-- <script src="/script/modal.js"></script> -->
<script src="/script/delete_item.js"></script>

<dialog id="modal-delete" class="modal">
  <p>Are you sure?</p>
  <div>
    <button onclick="deleteItem()" class="danger-btn">Probably</button>
    <button onclick="closeModal('#modal-delete')">Probably Not</button>
  </div>
</dialog>

<dialog id="modal-error" class="modal">
  <p>An Error Has Occured!</p>
  <button onclick="closeModal('#modal-error')">Sure Thing!</button>
</dialog>
