<% if (isAdmin) { %>
  <%- include('../includes/dashboard') %>
  <%- include('../user/details') %>
<% } %>

<section class="store">
  <% if (!isAdmin) { %>
    <h1>Store</h1>
  <% } %>

  <% if (items.length === 0) { %>
    <h2>Whoops, looks like there is nothing here</h2>
  <% } else { %>
    <ul>
      <% items.forEach(({ _id, name, desc, imgURL, price, userId }) => { %>
        <li id="<%= _id %>">
          <input type="hidden" name="_csrf" value="<%= csrf %>" />
          <input type="hidden" name="itemId" value="<%= _id %>" />

          <a href="/store/<%= _id %>">
            <img src="/<%= imgURL %>" alt="<%= name %>" />
            <% if (!isAdmin) { %>
              <span>Sold By: <%= userId.name.toUpperCase() %></span>
            <% } %>
          </a>

          <div class="name-and-price">
            <p><%= name %></p>
            <p>$<%= price.toFixed(2) %></p>
          </div>

          <% if (!isAdmin) { %>
            <p><%= desc %></p>
          <% } else { %>
            <div class="admin-controls">
              <a href="/admin/form/<%= _id %>">EDIT</a>
              <button onclick="openModal('<%= csrf %>', '<%= _id %>')">DELETE</button>
            </div>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>
</section>


<%- include('../includes/pagination') %>

<script src="/script/modal.js"></script>

<dialog class="modal-confirm">
  <p>Are you sure?</p>
  <div>
    <button onclick="deleteItem()">Probably</button>
    <button onclick="closeModal('.modal-confirm')">Probably Not</button>
  </div>
</dialog>

<dialog class="modal-error">
  <p>An Error Has Occured!</p>
  <button onclick="closeModal('.modal-error')">Sure Thing!</button>
</dialog>
