<% const { _id, name, desc, imgURL, price, userId } = item || {} %>

<% if (!item) { %>
  <h1 class="not-found">The Item Doesn't Exist</h1>
<% } else { %>
  <section class="item-page">
    <div class="banner">
      <img src="/assets/snowboarder.png" alt="snowboarder" />
      <img src="/assets/mountain.png"    alt="mountain"    />
    </div>
    <div class="listing">
      <img src="/<%= imgURL %>" alt="<%= name %>" />
      <div class="info">
        <h1>
          <span><%= name %></span>
          <span>Seller: <%= userId.name %></span>
        </h1>
        <p><%= desc %></p>
        <h2>Ultra deals</h2>
        <div class="icons">
          <i class="fa-regular fa-calendar"></i>
          <i class="fa-solid fa-shield"></i>
          <i class="fa-solid fa-truck-fast"></i>
          <i class="fa-solid fa-users-between-lines"></i>
        </div>
        <form class="form" action="/cart/<%= _id %>/add" method="post">
          <p>$<%= price.toFixed(2) %></p>
          <button>
            <%=
              userId._id.toString() === user._id.toString()
                ? 'Edit Listing'
                : 'Add to Cart'
            %>
          </button>
          <input type="hidden" name="_csrf" value="<%= csrf %>" />
        </form>
      </div>
    </div>
  </section>
<% } %>
