<% const activeTab = (href) => href === isActive ? 'active' : '' %>

<nav class="nav scrollbar-bg">
  <h1>Digital Bay</h1>
  <a href="/" class="<%= activeTab('/') %>">Home</a>

  <% if (user) { %>
    <a href="/admin/items" class="<%= activeTab('/admin/items') %>">
      <%= user.name.split(' ')[0] %>
    </a>
    <a href="/cart" class="<%= activeTab('/cart') %>" aria-label="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  <% } else { %>
    <a href="/login" class="<%= activeTab('/login') %>">Login</a>
  <% } %>
</nav>
