<% if (isAdmin) { %>
<a href="/orders">MY ORDERS</a>
<% } else { %>
<h1>Store</h1>
<% } %>
<ul>
  <% items.forEach(({ id, name, desc, imgURL, price }) => { %>
  <li>
    <a href="/store/<%= id %>">
      <img src="<%= imgURL %>" alt="<%= name %>" style="width: 100px;" />
    </a>
    <div>
      <p><%= name %></p>
      <p>$<%= price.toFixed(2) %></p>
    </div>
    <p><%= desc %></p>
    <% if (isAdmin) { %>
    <form action="/admin/delete-item" method="post">
      <a href="/admin/edit-item/<%= id %>/?edit=true">
        EDIT
      </a>
      <button onclick="return confirm('Are you sure you want to delete this item?')">
        DELETE
      </button>
      <input type="hidden" name="itemId" value="<%= id %>" />
    </form>
    <% } %>
  </li>
  <% }) %>
</ul>
