<ul>
  <% items.forEach(({ id, name, desc, imgURL, price }) => { %>
  <li>
    <a href="/store/<%= id %>">
      <img src="<%= imgURL %>" alt="<%= name %>" style="width: 50px" />
    </a>
    <div>
      <p>  <%= name %></p>
      <p>$ <%= price.toFixed(2) %></p>
    </div>
    <p><%= desc %></p>
  </li>
  <% }); %>
</ul>
