<% if (isAdmin) { %>
  <%- include('userNav') %>
<% } %>

<section class="store">
<% if (!isAdmin) { %>
  <h1>Store</h1>
<% } %>
  <ul>
    <% items.forEach(({ _id, name, desc, imgURL, price }) => { %>
    <li>
      <a href="/store/<%= _id %>">
        <img src="<%= imgURL %>" alt="<%= name %>" />
      </a>
      <div>
        <p><%= name %></p>
        <p>$<%= price.toFixed(2) %></p>
      </div>
      <p><%= desc %></p>
      <% if (isAdmin) { %>
      <form action="/admin/delete-item" method="post" class="admin-controls">
        <a href="/admin/edit-item/<%= _id %>/?edit=true">
          EDIT
        </a>
        <button onclick="return confirm('Are you sure you want to delete this item?')">
          DELETE
        </button>
        <input type="hidden" name="itemId" value="<%= _id %>" />
      </form>
      <% } %>
    </li>
    <% }) %>
  </ul>
</section>
