<% const dataRow = (key) => { %>
  <%
    const { _id, name, email } = user;
    const userData = { ID: _id, name, email };
    const content = userData[key];
  %>
  <p>
    <strong>
      <%= key %>:
    </strong>
    <span>
      <%= content %>
    </span>
  </p>
<% } %>

<div class="box details">
    <%= dataRow('ID') %>
    <%= dataRow('name') %>
    <%= dataRow('email') %>
</div>
