<%
  const {
       _id = '',
      name = '',
     price = '0.00',
      desc = '',
    imgURL = ''
  } = item || {};

  const data = { name, price };

  const input = (control) => {
    const error = errors[control] %>

    <p class="control">
      <label for="<%= control %>" class="<%= error ? 'error' : '' %>">
        <%= control + ' ' + (error || '') %>
      </label>

      <% if (control === 'image') {
        const defaultText = filename || 'No File Selected' %>

        <label for="image" id="image-file">
          <input id="image" name="image" type="file" accept="image/*" />
          <%= defaultText %>
        </label>
        <script>
          document.getElementById("image").addEventListener("change", function () {
            const   label = document.getElementById("image-file");
            const content = this.files[0]?.name || "<%= defaultText %>";
            label.lastChild.textContent = content;
          });
        </script>
      <% } else { %>
        <input
             id="<%= control %>"
           name="<%= control %>"
          value="<%= formData[control] || data[control] %>"
          autocomplete="off"
        />
      <% } %>
    </p>
<% } %>

<%- include('../includes/dashboard') %>

<div class="floating-box container <%= item ? 'expanded' : '' %>">
  <% if (item) { %>
    <img src="/<%= imgURL %>" alt="<%= name %>" />
  <% } %>

  <form
     action="/admin/<%= item ? 'edit' : 'add' %>-item"
     method="post"
      class="item-form"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="_csrf" value="<%= csrf %>" />

    <% if (item) { %>
      <input type="hidden" name="_id" value="<%= _id  %>" />
    <% } else { %>
      <h1>Post a new listing</h1>
    <% } %>

    <%= input('name') %>
    <%= input('price') %>
    <%= input('image') %>

    <p class="control">
      <label for="desc" class="<%= errors.desc ? 'error' : '' %>">
        <%= 'description ' + (errors.desc || '') %>
      </label>
      <textarea rows="4" id="desc" name="desc"><%= formData.desc || desc %></textarea>
    </p>

    <button class="<%= item ? 'update' : '' %>">
      <% if (item) { %>
        Update <i class="fa-solid fa-check"></i>
      <% } else { %>
           Add <i class="fa-solid fa-plus"></i>
      <% } %>
    </button>
  </form>
</div>
