<%
  const {
       _id = '',
      name = '...',
     price = '0.00',
      desc = 'This item is...',
    imgURL = ''
  } = item || {};
  const data = { name, price };
  const input = (id) => { %>
  <section>
    <label for="<%= id %>"><%= id %></label>
    <input id="<%= id %>" name="<%= id %>" value="<%= data[id] %>" autocomplete="off" />
  </section>
<% } %>

<%- include('dashboard') %>

<section class="edit-form-wrapper">
  <% if (item) { %>
    <img src="<%= imgURL %>" alt="<%= name %>" />
  <% }  %>

  <form
    action="/admin/<%= item ? 'edit' : 'add' %>-item"
    method="post"
    class="item-form"
  >
    <input type="hidden" name="_csrf"     value="<%= csrf %>"   />

    <% if (item) { %>
      <input type="hidden" name="_id"     value="<%= _id %>"    />
      <input type="hidden" name="imgURL"  value="<%= imgURL %>" />
    <% } else { %>
      <h1>Post a new listing</h1>
    <% } %>

    <%= input('name') %>
    <%= input('price') %>

    <section>
      <label for="desc">description</label>
      <textarea rows="5" id="desc" name="desc"><%= desc %></textarea>
    </section>

    <button class="<%= item ? 'update' : '' %>">
      <% if (item) { %>
      Update <i class="fa-solid fa-check"></i>
      <% } else { %>
         Add <i class="fa-solid fa-plus"></i>
      <% } %>
    </button>
  </form>
</section>
