<% const input = (props) => { %>
  <%
    const [id, txt] = props;
    const label = txt ? txt + '_' + id : id
  %>
  <section>
    <label for="<%= label %>"><%= label.replaceAll('_', ' ') %></label>
    <input
        id="<%= label %>"
      name="<%= label %>"
      type="<%= ['email', 'password'].includes(id) ? id : 'text' %>"
      autocomplete="off"
    />
  </section>
<% } %>

<form action="<%= signup ? '/signup' : '/login' %>" method="post" class="login">
  <% if (signup) { %>
  <%= input(['name']) %>
  <% } %>
  <%= input(['email']) %>
  <%= input(['password']) %>
  <% if (signup) { %>
  <%= input(['password', 'confirm']) %>
  <% } %>
  <a
     href="/login<%= signup ? '' : '/?newuser=true' %>"
    class="<%= signup ?  'signup' : '' %>"
  >
    <span> <%= signup ? 'Already' : 'Don\'t'   %> have an account?</span>
    <span> <%= signup ? 'Login!'  : 'Sign up!' %></span>
  </a>
  <button class="<%= signup ? 'signup' : '' %>">
    <%= signup ? 'Sign Up' : 'Login' %>
  </button>
</form>
